html{
    font-size: 15px;
    line-height: 30px ;
    font-family: DialogInput;
}
.code{
    background: lightblue;
    width: 100%;
    font-size: 15px;
}
.window{
    line-height: 40px;
}
h5{
    font-size: 15px;
}
.important{
    font-size: 20px;
    line-height: 35px;
}
xmp{
    font-family: monospace;
}
.code{
    line-height: 25px;
}
.first{
    color: #7386D5;
}