<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basics</title>
    <style>
        html{
            font-family: DialogInput;
            font-size: 15px;
        }
        .code{
            background:lightblue ;
        }

        .heaaf{
            color: #7386D5;
        }
    </style>
</head>
<body>
<h1 class="heaaf">HTML Basic</h1>
<hr>
<p>Don't worry if these examples use tags you have not learned.</p>
<p>You will learn about them in the next chapters.</p>
<hr>

<h2>HTML Documents</h2>
<p>All HTML documents must start with a document type declaration: <code class="w3-codespan">&lt;!DOCTYPE html&gt;</code>.</p>
<p>The HTML document itself begins with <code class="w3-codespan">&lt;html&gt;</code> and ends with <code class="w3-codespan">&lt;/html&gt;</code>.</p>
<p>The visible part of the HTML document is between <code class="w3-codespan">&lt;body&gt;</code> and <code class="w3-codespan">&lt;/body&gt;</code>. </p>
<div class="w3-example">
    <h3>Example</h3>
<xmp class="code">
    <!DOCTYPE html>
    <html>
    <body>
    <h1>My First Heading</h1>
    <p>My first paragraph.</p>
    </body>
    </html>
</xmp>
<hr>

<h2>HTML Headings</h2>
<p>HTML headings are defined with the <code class="w3-codespan">&lt;h1&gt;</code> to <code class="w3-codespan">&lt;h6&gt;</code> tags.</p>
<p><code class="w3-codespan">&lt;h1&gt;</code> defines the most important heading. <code class="w3-codespan">&lt;h6&gt;</code> defines the least important
    heading:&nbsp;</p>
<div class="w3-example">
    <h3>Example</h3>
<xmp class="code">
    <h1>This is heading 1</h1>
    <h2>This is heading 2</h2>
    <h3>This is heading 3</h3>

</xmp>
</div>

<hr>
<h2>HTML Paragraphs</h2>
<p>HTML paragraphs are defined with the <code class="w3-codespan">&lt;p&gt;</code> tag:</p>
<div class="w3-example">
    <h3>Example</h3>
<xmp class="code">
<p>This is a paragraph.</p>
<p>This is another paragraph.</p>

</xmp>
</div>
<hr>

<h2>HTML Links</h2>
<p>HTML links are defined with the <code class="w3-codespan">&lt;a&gt;</code> tag:</p>
<div class="w3-example">
    <h3>Example</h3>
<xmp class="code">
<a href="https://www.w3schools.com">This is a link</a>
</xmp>
</div>
<p>The link's destination is specified in the <code class="w3-codespan">href</code> attribute.&nbsp;</p>
<p>Attributes are used to provide additional information about HTML elements.</p>
<p>You will learn more about attributes in a later chapter.</p>
<hr>

<h2>HTML Images</h2>
<p>HTML images are defined with the <code class="w3-codespan">&lt;img&gt;</code> tag.</p>
<p>The source file (<code class="w3-codespan">src</code>), alternative text (<code class="w3-codespan">alt</code>),
    <code class="w3-codespan">width</code>, and <code class="w3-codespan">height</code> are provided as attributes:</p>
<div class="w3-example">
    <h3>Example</h3>
<xmp class="code">
<img src="w3schools.jpg" alt="W3Schools.com" width="104" height="142">
</xmp>

</div>
<hr>

<h2>HTML Buttons</h2>
<p>HTML buttons are defined with the <code class="w3-codespan">&lt;button&gt;</code> tag:</p>

    <h3>Example</h3>
   <xmp class="code">
       <button>
                Click me
       </button>
   </xmp>
<hr>

<h2>HTML Lists</h2>
<p>HTML lists are defined with the <code class="w3-codespan">&lt;ul&gt;</code> (unordered/bullet list) or the <code class="w3-codespan">&lt;ol&gt;</code> (ordered/numbered list) tag, followed by <code class="w3-codespan">&lt;li&gt;</code>
    tags (list items):</p>
<div class="w3-example">
    <h3>Example</h3>
<xmp class="code">
  <ul>
   <li>Coffee</li>
   <li>Tea</li>
   <li>Milk</li>
  </ul>
</xmp>
</div>
</div>

</body>
</html>