<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Qutation</title>
    <style>
        html{
            font-family: DialogInput;
            font-size: 15px;
        }
        .heead{
            color: #7386D5;
        }
        .code{
            background-color: lightblue;
        }
        .output{
            background-color: #dddddd;
        }
    </style>
</head>
<body>

<h1 style="color: #7386D5;">HTML Quotation and Citation Elements</h1>
<hr>

<div class="w3-example">
    <h3 >Quotation</h3>
    <div class="w3-white w3-padding notranslate">
        <p><b>Here is a quote from WWF's website:</b></p>
        <blockquote style="background-color: lightgray" cite="http://www.worldwildlife.org/who/index.html">
            For 50 years, WWF has been protecting the future of nature.
            The world's leading conservation organization,
            WWF works in 100 countries and is supported by
            1.2 million members in the United States and
            close to 5 million globally.
        </blockquote>
    </div>
</div>
<hr>

<h2>HTML &lt;q&gt; for Short Quotations</h2>
<p>The HTML <code class="w3-codespan">&lt;q&gt;</code> element defines a short quotation.</p>
<p>Browsers usually insert quotation marks around the <code class="w3-codespan">&lt;q&gt;</code> element.</p>
<div class="w3-example">
    <h3>Example</h3>
    <div class="code">
        &lt;p&gt;WWF's goal is to: &lt;q&gt;Build a future where people live in harmony with
        nature.&lt;/q&gt;&lt;/p&gt;</div>
</div>
<hr>

<h2>HTML &lt;blockquote&gt; for Quotations</h2>
<p>The HTML <code class="w3-codespan">&lt;blockquote&gt;</code> element defines a section that
    is quoted from another source.</p>
<p>Browsers usually indent <code class="w3-codespan">&lt;blockquote&gt;</code> elements.</p>
<div class="w3-example">
    <h3>Example</h3>
    <div class="code">
        &lt;p&gt;Here is a quote from WWF's website:&lt;/p&gt;<br>&lt;blockquote cite=&quot;http://www.worldwildlife.org/who/index.html&quot;&gt;<br>
        For 50 years, WWF has been protecting the future of nature.<br>The world's
        leading conservation organization,<br>WWF works in 100 countries and is
        supported by<br>1.2 million members in the United States and<br>close to 5
        million globally.<br>&lt;/blockquote&gt;</div>
</div>
<hr>
<div id="midcontentadcontainer" style="overflow:auto;text-align:center">
    <!-- MidContent -->

    <!--<pre>mid_content, all: [300,250][336,280][728,90][970,250][970,90][320,50][468,60]</pre>-->
    <div id="snhb-mid_content-0"></div>

</div>
<hr>
<h2>HTML &lt;abbr&gt; for Abbreviations</h2>
<p>The HTML <code class="w3-codespan">&lt;abbr&gt;</code> element defines an abbreviation
    or an acronym.</p>
<p>Marking abbreviations can give useful information to browsers, translation
    systems and search-engines.</p>
<div class="w3-example">
    <h3>Example</h3>
    <div class="code">
        &lt;p&gt;The &lt;abbr title=&quot;World Health Organization&quot;&gt;WHO&lt;/abbr&gt; was founded in
        1948.&lt;/p&gt;</div>
</div>
<hr>

<h2>HTML &lt;address&gt; for Contact Information</h2>
<p>The HTML <code class="w3-codespan">&lt;address&gt;</code> element defines contact information
    (author/owner) of a document or an article.</p>
<p>The <code class="w3-codespan">&lt;address&gt;</code> element is usually displayed in italic. Most browsers
    will add a line break before and after the element.</p>
<div class="w3-example">
    <h3>Example</h3>
    <div class="code">

        &lt;address&gt;<br>Written by John Doe.&lt;br&gt; <br>Visit us at:&lt;br&gt;<br>Example.com&lt;br&gt;<br>
        Box 564, Disneyland&lt;br&gt;<br>USA<br>&lt;/address&gt;</div>
</div>
<hr>

<h2>HTML &lt;cite&gt; for Work Title</h2>
<p>The HTML <code class="w3-codespan">&lt;cite&gt;</code> element defines the title of a
    work.</p>
<p>Browsers usually display <code class="w3-codespan">&lt;cite&gt;</code> elements in italic.</p>
<div class="w3-example">
    <h3>Example</h3>
    <div class="code">
        &lt;p&gt;&lt;cite&gt;The Scream&lt;/cite&gt; by Edvard Munch. Painted in 1893.&lt;/p&gt;</div>
</div>
<hr>

<h2>HTML &lt;bdo&gt; for Bi-Directional Override</h2>
<p>The HTML <code class="w3-codespan">&lt;bdo&gt;</code> element defines bi-directional
    override.</p>
<p>The <code class="w3-codespan">&lt;bdo&gt;</code> element is used to override the current text direction:</p>
<div class="w3-example">
    <h3>Example</h3>
    <div class="code">
        &lt;bdo dir=&quot;rtl&quot;&gt;This text will be written from right to left&lt;/bdo&gt;</div>
</div>

</body>
</html>